<!-- Hacemos la Maquetación -->

<!-- Contenedor -->
<div>
  <!-- Título Tabla -->
  <h1>Listado Posts</h1>
  <!-- Nuestro espacio de búsquedas en texto-->
  <div>
    <div>
      <div> <!-- ngModel -> se tiene que importar FormsModule en app module y colocar un name al input -->
        <input type="text" class="form-control" name="filterPost" placeholder="Search ..." [(ngModel)]='filterPost'>
      </div>
    </div>
  </div>
  <!-- Espacio de búsqueda en botónes -->
  <div>
    <div>
      <div> <!-- Botónes para filtrar por opción -->
        <select (change)="applyFilter($event)">
          <option value="todos">Todos</option>
          <option value="Hotel">Hotel</option>
          <option value="Restaurante">Restaurante</option>
          <option value="Motel">Motel</option>
          <option value="Hoyo feo">Hoyo feo</option>
          <option value="Cancha">Cancha</option>
        </select>
      </div>
    </div>
  </div>
  <!-- Pintamos la Tabla -->
  <div>
    <div>
      <table>
        <!-- Contendio que no cambia -->
        <thead>
           <tr>
            <th>id</th>
            <th>Title</th>
            <th>Date</th>
           </tr>
        </thead>
        <!-- Contendio Dinámico -->
        <tbody *ngFor="let post of filteredItems | filto:filterPost">
          <tr>
            <td>{{post.id}}</td>
            <td>{{post.title}}</td>
            <td>{{post.date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

